$bg-color: #00000012;

.wrapper {
	min-width: 100vw;
	min-height: 100vh;
	background-color: $bg-color;
	padding: 1%;
}

.main-content--bgcolor {
	background-color: $bg-color;
}

h1 {
	font-size: 5rem;
	font-style: bolder;
	font-weight: 300;
}
@media screen and (max-width: 500px) {
	h1 {
		font-size: 4rem;
	}
}
